@if (string.IsNullOrEmpty(Roles))
{
    <li class="sub-category">
        <h3>@CategoryName</h3>
    </li>
    @ChildContent
}
else
{
    <AuthorizeView Roles="@Roles">
        <li class="sub-category">
            <h3>@CategoryName</h3>
        </li>
        @ChildContent

    </AuthorizeView>
}

@code {
    [Parameter] public string? CategoryName { get; set; }
    [Parameter] public string? IconClass { get; set; }
    [Parameter] public string? Roles { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
