@*@inherits ValidationMessage


<h3>ValidationMessageHandler</h3>

@code {



    private string ValidationErrorMessage => FieldIdentifier.FieldName != null ? EditContext.GetValidationMessages(FieldIdentifier).FirstOrDefault() : null;

}
*@